<footer class="footer">
    <div class="row-offset-20 footer_body">
      <div class="col-offset-20 l-6 footer_body_about">
        <h1 class="footer_title">Giới Thiệu</h1>
        <p>
          Sau 1 giờ ra mắt MV, Sơn Tùng M-TP thông báo MV “Chúng ta của hiện tại” đạt 1 Triệu View (Realtime) khiến netizen lập tức so sánh với “đối thủ” Bích Phương 🔥
Nhiều bình luận thể hiện sự bất ngờ khi MV “Nâng chén tiêu sầu” của Bích Phương chỉ đạt chưa đến 5 Ngàn View sau 1 giờ công chiếu, chênh lệch rất nhiều so với Sơn Tùng M-TP. Mặc dù trước đó sản phẩm của nữ ca sĩ cũng nhận được rất nhiều sự quan tâm. 
        </p>
      </div>
      <div class="col-offset-20 l-3 footer_body_contact">
        <h1 class="footer_title">Thông tin</h1>
        <ul class="list_contact">
          <li class="item_contact"><a href="">Chính sách</a></li>
          <li class="item_contact"><a href="">Điều khoản</a></li>
          <li class="item_contact"><a href="">Trợ giúp</a></li>
          <li class="item_contact"><a href="">Fanpage</a></li>
        </ul>
      </div>
      <div class="col-offset-20 l-3 footer_body_contact">
        <h1 class="footer_title">Liên hệ</h1>
        <div class="footer_body_contact_box">
          <div class="footer_body_contact_infor">
            Địa chỉ: 315, Trường Chinh, Phường Khương Mai, Quận Thanh Xuân, Hà Nội, Việt Nam
          </div>
          <div class="footer_body_contact_infor">
            SĐT: (+84) 356 208 031
          </div>
          <div class="footer_body_contact_infor">
            todai.easylife@gmail.com 
          </div>
        </div>
      </div>
    </div>
</footer>
