<div class="row header">
          <div class="l-6">
              <div class="header_nav">
                <a routerLink="/admin/home" class="header_nav_link" routerLinkActive="active">Trang chủ</a>
                <a href="#" class="header_nav_link">Liên hệ</a>
                <a href="#" class="header_nav_link">Hỗ trợ</a>
              </div>
          </div>
          <div class="l-6">
              <ul class="header_nav--right">
                  <li class="header_item--right">
                      <div href="" class="header_item_link--right">
                        <app-user-box></app-user-box>
                        </div>
                  </li>
              </ul>
        </div>
</div>

