<div class="row header">
          <div class="l-6">
              <div class="header_nav">
                <a routerLink="/admin/home" class="header_nav_link" routerLinkActive="active">Trang chủ</a>
                <a href="#" class="header_nav_link">Liên hệ</a>
                <a href="#" class="header_nav_link">Hỗ trợ</a>
              </div>
          </div>
          <div class="l-6">
              <ul class="header_nav--right">
                  <li class="header_item--right">
                      <div href="" class="header_item_link--right">
                          <div class="header_imgOfUser">
                              <img [src]="'assets/images/user_default.png'" alt="">
                              <ul class="header_customOfUser">
                                    <li class="header_customOfUser_item">
                                        <a routerLink="profile" class="header_customOfUser_item_link">Hồ sơ</a>
                                    </li>
                                    <li class="header_customOfUser_item">
                                        <a  class="header_customOfUser_item_link">Thoát</a>
                                    </li>
                              </ul>
                          </div>
                      </div>
                  </li>
              </ul>
        </div>
</div>

