
.content__heading{
    margin: 10px 0;
}

.content__heading h2{
    padding: 10px;
    font-size: 30px;
    margin: 0;
    font-weight: 500;
}
.content__main{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input,select,textarea,input[type="number"],input[type="date"],input[type="time"]{
    padding-left: 6px;
    border-radius: 6px;
    width: 100%;
}

.brand_image{
    width: 100%;
    height: 200px;
}

.form-area{
    width: 100%;
}



