.topic_set{

}

.topic_set_text{
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 500;
}

.topic_set_container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.topic_set_item a{
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: #ecf2ff;
    padding: 4px 10px;
    color: var(--topic-set-text-color);
    text-decoration: none;
    font-size: 12px;
}

.topic_set_item a.active{
    color: var(--white-color);
    border: none;
    background-color: var(--active-color);
}