.tool_bar_left{
    height: 100%;
    display: flex;
    align-items: center;
}

.tool_bar_right{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool_bar_right_filter-text{

}
.tool_bar_right_filter-orgin{

}
.tool_bar_right_filter-topic{

}

.back{
    cursor: pointer;
    height: 100%;
    border: none;
    border-radius: 6px;
    width: 26px;
    background-color: var(--one-primary-color);
    color: var(--white-color);
}

.back:hover{
    background-color: var(--active-color);
}

.tool_bar_left_search{
    padding: 10px;
    width: 100%;
    height: inherit;
    border-radius: 10px;
}


.text-select{
    font-size: 16px;
}

.select{
    padding-right: 25px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    
}

.select:focus {
    outline: none;
    border: none;
}