.tool_bar_left{
    height: 100%;
    display: flex;
    align-items: center;
}

.tool_bar_right{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tool_bar_right_filter-text{

}
.tool_bar_right_filter-orgin{

}
.tool_bar_right_filter-topic{

}

.tool_bar_left_search{
    width: 100%;
    height: inherit;
}

.text-select{
    font-size: 16px;
}

.select{
    padding-right: 25px;
    cursor: pointer;
    border: none;
    font-size: 14px;
    
}

.select:focus {
    outline: none;
    border: none;
}