<div class="row" >
  <div *ngIf="selectedBar; then searchbar else selectBar"></div>

  <ng-template #searchbar>
    <div class="l-0-o-5">
      <button  (click)="showSearchBar()" class="back"><i class="fa-solid fa-angle-left"></i></button>
    </div>
    <div class="l-11-o-5">
      <input (keyup)="findNewspaper($event)" type="search" class="form_controller_input tool_bar_left_search" placeholder="Nhập tên bài báo bạn muốn tìm?">
    </div>
  </ng-template>

  <ng-template #selectBar>
    <div class="col l-3">
      <div class="tool_bar_left">
        <button (click)="showSelectBar()" type="submit" class="btn btn_search">
          <i class="fa fa-search"></i>
          <span >Tìm báo</span>
       </button>
      </div>
    </div>
    <div class="col l-9" >
      <div class="tool_bar_right" >
        <div class="tool_bar_right_filter-text">
          <span class="text-select">Đọc báo:</span></div>
        <div class="tool_bar_right_filter-orgin">
          <span class="text-select">Nguồn:</span>
          <select class="select" (change)="selectOrigin($event)">
            <option [value]="'all'">Tất cả</option>
            <option *ngFor="let origin of allOrigin" [value]="origin.name">
              {{ origin.name }}
            </option>      
          </select>
        </div>
        <div class="tool_bar_right_filter-topic">
          <span class="text-select" >Chủ đề:</span>
          <select  class="select" (change)="selectTopic($event)" [value]="topic">
            <option [value]="'all'">Tất cả</option>
            <option *ngFor="let topic of allTopic" [value]="topic.name">
              {{ topic.name }}
            </option>      
          </select>
        </div>
      </div>
    </div>
  </ng-template>
  
</div>
