<div class="row">
  <div class="col l-3">
    <div class="tool_bar_left">
      <!-- <input type="search" class="tool_bar_left_search" placeholder="Tên bài báo bạn muốn tìm?"> -->
      <button type="submit" class="btn btn_search">
        <i class="fa fa-search"></i>
        <span >Tìm báo</span>
     </button>
    </div>
  </div>
  <div class="col l-9">
    <div class="tool_bar_right">
      <div class="tool_bar_right_filter-text">
        <span class="text-select">Đọc báo:</span></div>
      <div class="tool_bar_right_filter-orgin">
        <span class="text-select">Nguồn:</span>
        <select class="select">
          <option value="">Tất cả</option>
          <option value="">VOV</option>
          <option value="">BBC</option>
          <option value="">CCN</option>
          <option value="">NEWS</option>
        </select>
      </div>
      <div class="tool_bar_right_filter-topic">
        <span class="text-select">Chủ đề:</span>
        <select class="select">
          <option value="">Tất cả</option>
          <option value="">VOV</option>
          <option value="">BBC</option>
          <option value="">CCN</option>
          <option value="">NEWS</option>
        </select>
      </div>
    </div>
  </div>
</div>
