<div class="grid wide">
    <div class="row-offset-20">
      <div class="col-offset-20 l-9 mt-30">
        <a class="back_before_page">
          <i class="fa-solid fa-angle-left"></i>
          <h1>Trở lại</h1>
        </a>
        <div class="box_newspaper">
            <div class="newspaper">
              <div class="newspaper_title"><h1>Việt Nam triệu tập nhiều cựu binh để đấu Indonesia Việt Nam triệu tập nhiều cựu binh để đấu Indonesia Việt Nam triệu tập nhiều cựu binh để đấu Indonesia</h1></div>
              <div class="newspaper_time-up"><span>2024-03-10 19:32:53</span></div>
              <div class="newspaper_conent">
                <div class="paragraph">
                  <div class="paragraph_image">
                    <img src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
                  </div>
                  <p class="paragraph_fig_caption">Giáo hoàng Francis chủ trì thánh lễ tại Vương cung thánh đường Thánh Peter ở Vatican ngày 9/3. Ảnh: AFP</p>
                  <p class="paragraph_body">Ba CLB giữ vững lập trường muốn tiếp tục thi đấu ở sân Hàng Đẫy. CAHN và Thể Công đưa ra lý do là tên tuổi lâu đời gắn bóng đá Hà Nội. Trong khi đó, không thể so sánh về lịch sử tồn tại, nhưng kể từ khi thành lập vào năm 2006 Hà Nội FC lại giành nhiều danh hiệu và cống hiến nhiều cho bóng đá thủ đô. Bên cạnh đó, Hà Nội FC chi nhiều tiền nhất để bảo dưỡng, tu sửa sân trong gần 20 năm qua.</p>
                </div>
                <div class="paragraph">
                  <div class="paragraph_image">
                    <img src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
                  </div>
                  <p class="paragraph_fig_caption">Giáo hoàng Francis chủ trì thánh lễ tại Vương cung thánh đường Thánh Peter ở Vatican ngày 9/3. Ảnh: AFP</p>
                  <p class="paragraph_body">Ba CLB giữ vững lập trường muốn tiếp tục thi đấu ở sân Hàng Đẫy. CAHN và Thể Công đưa ra lý do là tên tuổi lâu đời gắn bóng đá Hà Nội. Trong khi đó, không thể so sánh về lịch sử tồn tại, nhưng kể từ khi thành lập vào năm 2006 Hà Nội FC lại giành nhiều danh hiệu và cống hiến nhiều cho bóng đá thủ đô. Bên cạnh đó, Hà Nội FC chi nhiều tiền nhất để bảo dưỡng, tu sửa sân trong gần 20 năm qua.</p>
                </div>
                <div class="paragraph">
                  <p class="paragraph_body">Ba CLB giữ vững lập trường muốn tiếp tục thi đấu ở sân Hàng Đẫy. CAHN và Thể Công đưa ra lý do là tên tuổi lâu đời gắn bóng đá Hà Nội. Trong khi đó, không thể so sánh về lịch sử tồn tại, nhưng kể từ khi thành lập vào năm 2006 Hà Nội FC lại giành nhiều danh hiệu và cống hiến nhiều cho bóng đá thủ đô. Bên cạnh đó, Hà Nội FC chi nhiều tiền nhất để bảo dưỡng, tu sửa sân trong gần 20 năm qua.</p>
                </div>
              </div>
              <div class="newspaper_footer">
                <span class="newspaper_footer_origin">Nguồn: <a href="">CNN</a></span>
                <span class="newspaper_footer_author">Bùi Quốc Triệu</span>
              </div>
            </div>
        </div>
      </div>
      <div class="col-offset-20 l-3 mt-30">
        <h1 class="other_newspaper_set_title">Bài báo khác</h1>
        <div class="other_newspaper_set">
          <a class="other_newspaper" routerLink="/newspaper/id">
            <img class="other_newspaper_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
            <div class="other_newspaper_article-info">
              <p class="other_newspaper_title">Some of his artworks come from popular culture, including Spiderman, Star Wars, Bugs Bunny, Ninja Turtles, pizza and others</p>
              <div class="other_newspaper_orgin">CCN</div>
              <span class="other_newspaper_time-up">2024-03-07 07:33:53</span>
            </div>
          </a>
          <a class="other_newspaper" routerLink="/newspaper/id">
            <img class="other_newspaper_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
            <div class="other_newspaper_article-info">
              <p class="other_newspaper_title">Some of his artworks come from popular culture, including Spiderman, Star Wars, Bugs Bunny, Ninja Turtles, pizza and others</p>
              <div class="other_newspaper_orgin">CCN</div>
              <span class="other_newspaper_time-up">2024-03-07 07:33:53</span>
            </div>
          </a>
          <a class="other_newspaper" routerLink="/newspaper/id">
            <img class="other_newspaper_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
            <div class="other_newspaper_article-info">
              <p class="other_newspaper_title">Some of his artworks come from popular culture, including Spiderman, Star Wars, Bugs Bunny, Ninja Turtles, pizza and others</p>
              <div class="other_newspaper_orgin">CCN</div>
              <span class="other_newspaper_time-up">2024-03-07 07:33:53</span>
            </div>
          </a>
          <a class="other_newspaper" routerLink="/newspaper/id">
            <img class="other_newspaper_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
            <div class="other_newspaper_article-info">
              <p class="other_newspaper_title">Some of his artworks come from popular culture, including Spiderman, Star Wars, Bugs Bunny, Ninja Turtles, pizza and others</p>
              <div class="other_newspaper_orgin">CCN</div>
              <span class="other_newspaper_time-up">2024-03-07 07:33:53</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
