<div class="grid wide">
    <div class="row-offset-20">
      <div class="col-offset-20 l-9 mt-30">
        <a class="back_before_page">
          <i class="fa-solid fa-angle-left"></i>
          <h1 (click)="back()">Trở lại</h1>
        </a>
        <div class="box_newspaper">
          <div class="newspaper">
            <div class="newspaper_title"><h1>{{newspaper.name}}</h1></div>
            <div class="newspaper_time-up"><span>{{newspaper.datetime! | dateFormat}}</span></div>
            <div class="newspaper_conent">
              <div class="paragraph" *ngFor="let paragraph of newspaper.paragraphs">
                <ng-container *ngIf="paragraph.thumbnail != undefined">
                  <div class="paragraph_image">
                    <img [src]="pathImageFile + paragraph.thumbnail" alt="">
                  </div>
                  <p class="paragraph_fig_caption">{{paragraph.figCaption}}</p>
                </ng-container>
                <p class="paragraph_body">{{paragraph.content}}</p>
              </div>
            </div>
            <div class="newspaper_footer">
              <span class="newspaper_footer_topic">Chủ đề: {{newspaper.topic}}</span>
              <span class="newspaper_footer_origin">Nguồn: {{newspaper.origin}}</span>
              <span class="newspaper_footer_author" *ngIf="newspaper.author != undefined">Tác giả: {{newspaper.author}}</span>
            </div>
          </div>
      </div>
      </div>
      <div class="col-offset-20 l-3 mt-30">
        <h1 class="other_newspaper_set_title">Bài báo khác</h1>
        <div class="other_newspaper_set">
          <a class="other_newspaper" [routerLink]="'/newspaper/' + item.id" *ngFor="let item of newspaperList; let i = index">
            <img class="other_newspaper_image" [src]="imageList[i]" alt="">
            <div class="other_newspaper_article-info">
              <p class="other_newspaper_title">{{item.name}}</p>
              <div class="other_newspaper_orgin">{{item.origin}}</div>
              <span class="other_newspaper_time-up">{{item.datetime! | dateFormat}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
