<div appSliderDirective class="slider mt-30">
  <div class="slider_list row-offset-8">
    <a [routerLink]="'/newspaper/' + newspaper.id" *ngFor="let newspaper of newspaperList; let i = index" href="" class="slider_list_item col-offset-8 l-2-o-4 ">
      <div class="box-item ">
        <img class="image" [src]="imageList[i]">
        <div class="topic">{{newspaper.topic}}</div>
        <div class="title">
          <span>
            <ng-container *ngFor="let paragraph of newspaper.paragraphs">
              {{paragraph.content}}
            </ng-container>
          </span>
        </div>
        <div class="time-up">{{newspaper.datetime! | dateFormat}}</div>
      </div>
    </a>
  </div>
</div>