.desc-home{
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    opacity: .8;
    margin-bottom: 12px;
    font-style: italic;
}

.box_news{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
}