.main{
    margin-top: var(--header-height);
    background-color: var(--white-background-color);
}

.desc-home{
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    opacity: .8;
    margin-bottom: 12px;
    font-style: italic;
}