
  <div class="grid wide">
    <div class="row-offset-20">
      <div class="col-offset-20 l-9 mt-30">
        <app-tool-bar></app-tool-bar>
        <h1 class="desc-home">Tin tức mới nhất trong ngày, cập nhật liên tục 24h. Từ nguồn báo chính thống như CNN, BBC, VOA, Inside Science,...</h1>
        <div class="box_news">
          <div class="box_hot_news">
            <div class="hot_news_set row">
              <a class="col l-12 hot_news_set_item" >
                <div class="l-3 p-r-10">
                  <img class="hot_news_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
                </div>
                <div class="l-9 hot_news_article_info">
                  <div class="hot_news_title">Học đại học có lợi hay có hại</div>
                  <div class="hot_news_centent"><span>Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồiCắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi</span></div>
                  <div class="hot_news_time-up">
                    <span>Nguồn: TODAII</span>
                    <span>2024-03-07 07:33:53</span>
                  </div>
                </div>
              </a>
              <a class="col l-12 hot_news_set_item" >
                <div class="l-3 p-r-10">
                  <img class="hot_news_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
                </div>
                <div class="l-9 hot_news_article_info">
                  <div class="hot_news_title">Học đại học có lợi hay có hại</div>
                  <div class="hot_news_centent"><span>Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồiCắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi</span></div>
                  <div class="hot_news_time-up">
                    <span>Nguồn: TODAII</span>
                    <span>2024-03-07 07:33:53</span>
                  </div>
                </div>
              </a>
              <a class="col l-12 hot_news_set_item" >
                <div class="l-3 p-r-10">
                  <img class="hot_news_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
                </div>
                <div class="l-9 hot_news_article_info">
                  <div class="hot_news_title">Học đại học có lợi hay có hại</div>
                  <div class="hot_news_centent"><span>Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồiCắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi</span></div>
                  <div class="hot_news_time-up">
                    <span>Nguồn: TODAII</span>
                    <span>2024-03-07 07:33:53</span>
                  </div>
                </div>
              </a>
              <a class="col l-12 hot_news_set_item" >
                <div class="l-3 p-r-10">
                  <img class="hot_news_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
                </div>
                <div class="l-9 hot_news_article_info">
                  <div class="hot_news_title">Học đại học có lợi hay có hại</div>
                  <div class="hot_news_centent"><span>Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồiCắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi</span></div>
                  <div class="hot_news_time-up">
                    <span>Nguồn: TODAII</span>
                    <span>2024-03-07 07:33:53</span>
                  </div>
                </div>
              </a>
              <a class="col l-12 hot_news_set_item" >
                <div class="l-3 p-r-10">
                  <img class="hot_news_image" src="assets\images\34ce4add353b05f5e19f0ba7b75b86f0.jpg" alt="">
                </div>
                <div class="l-9 hot_news_article_info">
                  <div class="hot_news_title">Học đại học có lợi hay có hại</div>
                  <div class="hot_news_centent"><span>Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi Cắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồiCắt xong cái clip pha R của Tahm Kench luôn rồi, thôi thì khen tạm pha này trong lúc chờ vậy, chứ tôi thì đã chửi thề nãy giờ rồi</span></div>
                  <div class="hot_news_time-up">
                    <span>Nguồn: TODAII</span>
                    <span>2024-03-07 07:33:53</span>
                  </div>
                </div>
              </a>
          </div>
        </div>
        
      </div>
      </div>
      <div class="col-offset-20 l-3 mt-30">
        <app-topic-set></app-topic-set>
      </div>
    </div>
  </div>

