<div *ngIf="allNewspaper.length == 0">không tìm thấy bài báo nào!</div>
<div class="box_hot_news" *ngIf="allNewspaper.length > 0">
  <div class="news_set row">
    <a class="col l-12 news_set_item" [routerLink]="'/newspaper/' + newspaper.id" *ngFor="let newspaper of allNewspaper; let i = index">
      <div class="l-3 p-r-10">
        <img class="news_image" [src]="imageList[i]" alt="">
      </div>
      <div class="l-9 news_article_info">
        <div class="news_title">{{newspaper.name}}</div>
        <div class="news_centent">
          <span>
            <ng-container *ngFor="let paragraph of newspaper.paragraphs">
              {{paragraph.content}}
            </ng-container>
          </span>
        </div>
        <div class="news_time-up">
          <span>Chủ đề: {{newspaper.topic}}</span>
          <span>{{newspaper.datetime! | dateFormat}}</span>
        </div>
      </div>
    </a>
  </div>
  <div class="show">
    <button *ngIf="show" class="show-btn" (click)="showNewspaper()"><span>Xem thêm</span><main></main></button>
  </div>
</div>

        
        
      


