
  .modal {
      display: none;
      position: fixed; 
      justify-content: center;
      align-items: center;
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%;
      overflow: hidden;
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
    }
    

    .modal-content {
      padding: 10px;
      background-color: #fefefe;
      border: 0.5px solid var(--border-color);
      font-size: 16px;
      line-height: inherit;
      border-radius: 4px;
    }

    .container-modal {
      padding: 10px;
      text-align: center;
    }
    
    .close {
      color: #7b7a7a;
      float: right;
      font-size: 20px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }


    button {
      border-radius: 2px;
      color: white;
      padding: 4px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.8;
    }
    
    button:hover {
      opacity:1;
    }
    

    .confirmbtn{
      float: left;
      width: 30%;
      background-color: var(--active-color);
    }
    
    .cancelbtn{

      float: right;
      width: 30%;
      background-color: var(--wrong-color);
    }
  
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

    .message{
      margin: 16px 0px;
    }

    .title-modal{
      text-align: center;
      text-transform: uppercase;
      color: var(--active-color);
      font-weight: 600;
    }