/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";
* {
	box-sizing: border-box;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html,body{
    height: 100%;
}

body {
	color: var(--text-color);
	font-family: 'Roboto';
	line-height: 1;
    background-color: var(--white-background-color);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --wrong-color:#f10909;
    --one-primary-color:#4f79c4;
	--two-primary-color:#28489d;
	--active-color:#3347a0;
	--hover-color:#26469b;
	--white-color:#fff;
	--white-background-color:#f7f7f7;
	--header-height:74px;
	--text-color: #363636;
	--border-color:#d8d8d8;
	--btn-color:#26469b;
	--topic-set-text-color:#5468a0;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-8{
    margin-bottom: 8px;
}

.mt-30{
	margin-top: 30px;
}

.ml-8{
    margin-left: 8px;
}

.ml-20{
    margin-left: 20px;
}

.grid{
	display: block;
	width: 100%;
	padding: 0;
}

.grid.wide{
	max-width: 1200px;
	margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -6px;
    margin-right: -6px; */
}

.row-offset-8-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.row-offset-8 {
	display: flex;
    flex-wrap: nowrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col-offset-8 {
    padding-left: 8px;
    padding-right: 8px;
}

.row-offset-20 {
	display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.col-offset-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.row-offset-8-4 {
	display: flex;
    flex-wrap: wrap;
    margin: -8px -4px;
}

.col-offset-8-4 {
    padding: 8px 4px;
}

.col {
    padding-left: 6px;
    padding-right: 6px;
}

.l-0-o-5{
    flex: 0 0 4.16667%;
	max-width: 4.16667%;
}

.l-1 {
	flex: 0 0 8.33333%;
	max-width: 8.33333%;
}

.l-2 {
	flex: 0 0 16.66667%;
	max-width: 16.66667%;
}

.l-2-o-6 {
	flex: 0 0 20.83333%;
	max-width: 20.83333%;
}

.l-1-o-5{
    flex: 0 0 12.5%;
	max-width: 12.5%;
}

.l-2-o-4{
	flex: 0 0 20%;
	max-width: 20%;
}

.l-2-o-5{
    flex: 0 0 20.83333%;
	max-width: 20.83333%;
}

.l-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.l-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.l-4-o-5 {
	flex: 0 0 37.5%;
	max-width: 37.5%;
}

.l-5 {
	flex: 0 0 41.66667%;
	max-width: 41.66667%;
}

.l-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.l-7 {
	flex: 0 0 58.33333%;
	max-width: 58.33333%;
}

.l-8 {
	flex: 0 0 66.66667%;
	max-width: 66.66667%;
}

.l-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.l-10 {
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
}

.l-11 {
	flex: 0 0 91.66667%;
	max-width: 91.66667%;
}

.l-11-o-5{
    flex: 0 0 95.58333%;
	max-width: 95.58333%;
}

.l-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.p-r-10{
	padding-right: 10px;

}

.login-register{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-background-color);
}

.form{
    border: 1px solid #ced4da;
    width: 600px;
    border-radius: 10px;
    padding: 60px;
    background-color: var(--white-color);
}

.form_controller{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_controller_lable{
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
}

.form_controller_container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.form_controller_btn{
    position: absolute;
    right: 0;
    border: none;
    padding: 0;
    bottom: 10px;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.form_controller_input{
    font-size: 16px;
    border: 0.5px solid var(--border-color);
    border-radius: 20px;
    padding: 10px 10px 10px 40px;
}

.form_controller_error{
    height: 30px;
    margin-top: 6px;
    color: var(--wrong-color);
}

.form_controller_error span{
    
}

.form_controller_icon{
    position: absolute;
    left: 16px;
    bottom: 14px;
}

.form_controller_input:focus{
    outline: none;
    border: 0.5px solid var(--one-primary-color);
}

.btn{
	cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: var(--white-color);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    background-color: var(--one-primary-color);
}

.btn:hover{
	opacity: 0.8;
}

.btn i{
	margin-right: 8px;
}


.btn_enter.undisable:hover{
    background-color: var(--active-color);
}

.btn_login:hover{
    background-color: var(--two-primary-color);
}

.form_controller.remember{
    align-items: center;
    flex-direction: row;
}

.form_controller.remember .form_controller_input{
    height: 100%;
    margin: 2px 0px 0px 4px;
}

.register_login_page{
    display: flex;
    justify-content: end;
}
.register_login_link{
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

.register_login_link:hover{
    text-decoration: underline;
}

.or{
    color: var(--one-primary-color);
    margin: 6px 0px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
}

.social_media_list{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.social_media{
    position: relative;
}

.social_media i,.social_media .gg{
    position: absolute;
    left: 10px;
    bottom: 12px;
}

.fb{
    color: #0866ff;
}

.gg{
    height: 16px;
    width: 16px;
}

.social_media button{
    cursor: pointer;
    font-size: 14px;
    background-color: var(--white-color);
    outline: none;
    border-radius: 5px;
    border: 0.5px solid #ced4da;
    padding: 10px 20px 10px 30px;
}

.container{
    display: flex;
}

.custome_form{
    
}
.custome_form_controller{

}
.custome_form_controller_input{
    border-radius: 10px;
    border: 0.5px solid var(--border-color);
    outline: none;
    padding: 8px;
    font-size: 16px;
    width: 300px;
}


.custom_submit_search{
    border: 0.5px solid var(--border-color);
    outline: none;
    padding: 8px;
    font-size: 16px;
    width: 50px;
}

.custom_submit_search:hover{
    background-color: var(--hover-color);
    color: var(--white-color);
}

.operation{
    display: flex;
    font-size: 1.6px;
}

.operation button{
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.btn_bgc{
    background-color: #007bff;
}

.btn_operation{
    background-color: var(--hover-color);
    opacity: 0.8;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.btn_operation i {
    color: var(--white-color);
}

.btn_operation:hover{
    background-color: var(--active-color);
    opacity: 1;
}

.btn-add i,
.btn-infor i,
.btn-update i,
.btn-remove i{
    font-size: 18px;
}

.btn-add{

}

.btn-infor{
    margin-right: 10px;
}

.btn-update{
    margin-right: 10px;
}

.btn-remove{
    background-color: var(--wrong-color);
}

.status{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status.active{
    background-color: rgb(63, 206, 63);
}

.breadcrumb{
    display: flex;
    font-size: 16px;
  }
  
  .breadcrumb-item{
  
  }
  
  .breadcrumb .breadcrumb-item {
  
  }
  
  .breadcrumb .breadcrumb-item a{
    display: inline-block;
    color: var(--two-primary-color);
    text-decoration: none;
  }
  
  .breadcrumb .breadcrumb-item:not(:last-child) a:hover{
    text-decoration: underline;
  }
  
  .breadcrumb .breadcrumb-item:not(:first-child) a::before{
    display: inline-block;
    content: "/";
    padding: 0 5px;
    color: #111010;
  }
  
  .breadcrumb .breadcrumb-item:last-child a{
    color: #111010;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

