.navbar{
    
}

.navbar_logo{
    position: relative;
}

.navbar_logo::before{
    position: absolute;
    content: "";
    width: 100%;
    bottom: -10px;
    right: 0;
    border: 1px solid var(--border-color);
}

.navbar_logo_link{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar_logo_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar_logo_name{
    margin-left: 6px;
    font-size: 18px;
    color: var(--white-color);
}

.navbar_body{
    margin-top: 20px;
    color: #cacbcd;
}

.navbar_body_menu{

}

.navbar_body_item{
    outline: none;
}

.navbar_body_item_link.active{
    background-color: var(--active-color);
    color: var(--white-color);
}


.navbar_body_item_link{
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    color: var(--text-color);
    line-height: 16px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--white-color);
}

.navbar_body_item_link:hover{
    color: var(--white-color);
    background-color: var(--hover-color);
}


